{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instagram!</title>
    <link rel="stylesheet" href="{% static '/CSS/style.css' %}">
    <link rel="icon" href="/../Instagram/PinkInstagram.png">
</head>

<body>
    <center>
        <div class='logo'>
            <img class='img-header' src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuDpBZIkBfO1Dd9OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY"
                border="0">
        </div>
        <div class='box container' style="width: 50%">
            {% block body %} {% endblock body %}
        </div>
    </center>
</body>

</html>