{% extends 'app/base.html' %} {% load static %} {% block body %}
<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <form action='{% url "app:upload" %}' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            <a href="{% url 'app:upload' %}">Upload</a>
            <hr>
        </form>
        <br> {% for photo in photos %}
        <img src="{% static photo.image_url %}?t={% now 'u' %}" class='img-responsive'>
        <br>
        <hr> {% endfor %}
    </div>
</div>
{% endblock body %}