html {
    background-color: #c4a190;
}

img {
    width: 50%;
    height: 50%;
}

.logo {
    width: 40%;
    height: 40%;
}

button {
    background-color: #c4a190;
    border-radius: 12px;
    border-color: gray;
}

.box {
    margin-bottom: 20px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    border-style: outset;
    /* border-color: #22cc77; */
}
