html {
    background-color: #bf98a0;
}

img {
    width: 50%;
    height: 50%;
}

.box {
    margin-bottom: 20px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    border-style: outset;
    /* border-color: #22cc77; */
}
