html {
    background-color: #c4a190;
}

img {
    width: 50%;
    height: 50%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: #5a0117;
}

button {
    background-color: #c4a190;
    border-radius: 12px;
    border-color: gray;
    color: #5a0117;
}

a {
    background-color: #c4a190;
    color: #5a0117;
    padding: 2px 6px 2px 6px;
    border-radius: 12px;
}

/* USER DEFINED CLASSES */

.logo {
    width: 38%;
    height: 50%;
    object-fit: cover;
}

.box {
    margin-bottom: 20px;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    border-style: outset;
    /* border-color: #22cc77; */
}
